<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title><%= file.filename %></title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1><%= file.filename %></h1>
                <p>URL: <%= file.url %></p>
                <p> Type: <%= file.fileType %></p>
                <p>Uploaded: <%= file.createdAt %></p>
                <a href="/library/folder/file/<%= file.id %>/edit">Edit File Info</a>
                <a href="/library/folder/file/<%= file.id %>/delete">Delete File</a>
                <a href="/library/folder/<%= file.folderId %>">Back to Folder</a>
            </div>
        </div>
    </body>
</html>