<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title><%= folder.folderName %></title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1><%= folder.folderName %></h1>
                <div class="files-container">
                    <% if (files.length > 0) { %>
                        <% files.forEach((file, i) => { %>
                            <% if (i === 0) { %>
                                <div class="file-info-row-borderless">
                                    <h3 class="icon-item">
                                        <%- include("../public/icons/file.svg") %>
                                        <a href="/library/folder/file/<%= file.id %>" class="folder-row-filename"><%= file.filename %></a>
                                    </h3>
                                    <div class="file-details-cell">
                                        <p><b>Type</b>: <%= file.fileType %></p>
                                        <p><b>Size</b>: <%= file.fileSize %> kB</p>
                                        <div class="icon-list">
                                            <a href="<%= file.url %>" class="download-icon"><%- include("../public/icons/download.svg") %></a>
                                            <a href="/library/folder/file/<%= file.id %>/edit" class="edit-icon"><%- include("../public/icons/edit.svg") %></a>
                                            <a href="/library/folder/file/<%= file.id %>/delete" class="trash-icon"><%- include("../public/icons/trash-2.svg") %></a>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="file-info-row">
                                    <h3 class="icon-item">
                                        <%- include("../public/icons/file.svg") %>
                                        <a href="/library/folder/file/<%= file.id %>" class="folder-row-filename"><%= file.filename %></a>
                                    </h3>
                                    <div class="file-details-cell">
                                        <p><b>Type</b>: <%= file.fileType %></p>
                                        <p><b>Size</b>: <%= file.fileSize %> kB</p>
                                        <div class="icon-list">
                                            <a href="<%= file.url %>" class="download-icon"><%- include("../public/icons/download.svg") %></a>
                                            <a href="/library/folder/file/<%= file.id %>/edit" class="edit-icon"><%- include("../public/icons/edit.svg") %></a>
                                            <a href="/library/folder/file/<%= file.id %>/delete" class="trash-icon"><%- include("../public/icons/trash-2.svg") %></a>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }) %>    
                    <% } else { %>
                        <div><h3>No files to show!</h3></div>    
                    <% } %>
                </div>
                <div class="links-container">
                    <a href="/library/folder/<%= folder.id %>/new-file">+ Upload File</a>
                    <a href="/library/folder/<%= folder.id %>/edit">Edit Folder Info</a>
                    <a href="/library/folder/<%= folder.id %>/delete">Delete Folder</a>
                    <a href="/library">Library</a>
                </div>
            </div>
        </div>
    </body>
</html>