<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>File Library</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Welcome, <%= username %>.</h1>
                <h2>Folders</h2>
                <div class="folders-container">
                    <% if (folders.length > 0) { %>
                        <% folders.forEach((folder, i) => { %>
                            <% if (i === 0) { %>
                                <div class="folder-row-borderless">
                                    <div class="folder-row-left">
                                        <h3 class="icon-item">
                                            <%- include("../public/icons/folder.svg") %>
                                            <a href="/library/folder/<%= folder.id %>" class="library-folder-name"><%= folder.folderName %></a>
                                        </h3>
                                    </div>
                                    <div class="folder-row-right">
                                        <div class="icon-item">
                                            <%- include("../public/icons/file.svg") %>
                                            <div><b>File Count:</b> <%= fileCounts[i] %></div>
                                        </div>
                                        <div class="icon-list">
                                            <a href="/library/folder/<%= folder.id %>/new-file" class="upload-icon"><%- include("../public/icons/upload.svg") %></a>
                                            <a href="/library/folder/<%= folder.id %>/edit" class="edit-icon"><%- include("../public/icons/edit.svg") %></a>
                                            <a href="/library/folder/<%= folder.id %>/delete" class="trash-icon"><%- include("../public/icons/trash-2.svg") %></a>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="folder-row">
                                    <div class="folder-row-left">
                                        <h3 class="icon-item">
                                            <%- include("../public/icons/folder.svg") %>
                                            <a href="/library/folder/<%= folder.id %>" class="library-folder-name"><%= folder.folderName %></a>
                                        </h3>
                                    </div>
                                    <div class="folder-row-right">
                                        <div class="icon-item">
                                            <%- include("../public/icons/file.svg") %>
                                            <div><b>File Count:</b> <%= fileCounts[i] %></div>
                                        </div>
                                        <div class="icon-list">
                                            <a href="/library/folder/<%= folder.id %>/new-file" class="upload-icon"><%- include("../public/icons/upload.svg") %></a>
                                            <a href="/library/folder/<%= folder.id %>/edit" class="edit-icon"><%- include("../public/icons/edit.svg") %></a>
                                            <a href="/library/folder/<%= folder.id %>/delete" class="trash-icon"><%- include("../public/icons/trash-2.svg") %></a>
                                        </div>
                                    </div>
                                </div>
                            <% } %>  
                        <% }) %>    
                    <% } else { %>
                        <div><h3>No folders to show!</h3></div>    
                    <% } %>
                </div>
                <div class="links-container">
                    <div class="icon-item">
                        <a href="/library/new-file">+ Upload a File</a>
                    </div>
                    <a href="/library/new-folder">+ New Folder</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </body>
</html>